body {
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.buttons {
  display: flex;
}

.form {
  display: flex;
  align-content: space-between;
}

.form__w-40 {
  flex: 0.5;
  padding: 5px;
  margin-right: 10px;
  font-size: 1rem;
}
